/*  N   O   T   A   S  */
.notas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    gap: 15px;
    margin-top: 5px;
    color: #ffffff;
}

.cardNotas {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 260px;
    height: 250px;
    background-color: #009191;
    border: solid 1px #008484;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

    .cardNotas:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0,0,0,.2);
    }

    .cardNotas a,
    .cardNotas a:hover,
    .cardNotas a:visited {
        color: white;
        text-decoration: none;
    }
.cardNotas p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
    .cardNotas p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

.acciones{
    justify-content: space-between;
}

/*.tituloCard i {
    color: #ffffff;
}*/