html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.paginaLogin{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    margin:100px;
}
.left {
    background-color: #204165;
}
.right {
    background-color: #132742;
}

.usuarioLogin {
    /*margin: 150px;
    color: white;*/
}
